page-noti-detail {

  h1{
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
  h3{
    color: black;
    margin-bottom: 20px;
    text-wrap: normal!important;
  }
  p{
    color: black;
    margin-bottom: 20px;
    text-wrap: normal !important;
  }
  img{
    width: 600px;
    margin-bottom: 20px;
  }
}
